yfinance
finnhub-python
pandas
ta
schedule
flask
lxml
python-dateutil>=2.8.0
textblob
newspaper3k
openai
beautifulsoup4
feedparser
vaderSentiment
lxml_html_clean
transformers
torch
openpyxl
huggingface_hub





