name: Indexes

on:
  schedule:
    - cron: '30 * * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  run-signal:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install yfinance finnhub-python pandas ta numpy 
      - name: Prepare and clean artifacts directory
        run: |
          rm -rf artifacts
          mkdir -p artifacts


      - name: Run script
        run: |
          python indexes.py
        env:
          API_KEY: ${{ secrets.API_KEY }}

      - name: Upload CSV data artifacts
        uses: actions/upload-artifact@v4
        with:
          name: stock_data
          path: |
            data/*.csv
            artifacts/data/*.csv
